# Dataframe from file

Pandas supports loading data from multiple file formats, including: Excel, CSV, JSON, XML.

In [1]:
import pandas as pd

In [12]:
students = pd.read_csv("../data/students.csv")
students.head()

  class                             email   name
0  AI23  adam@gmail.com, adam@hotmail.com   adam
1  AI23                   kalle@gmail.com  kalle

In [16]:
autos = pd.read_json("../Data/autos.json")
autos.head(10)

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,...,make,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
0,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,...,alfa-romero,NaN,four,two,5000.0,13495.0,2.68,3,88.6,64.1
1,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,...,alfa-romero,NaN,four,two,5000.0,16500.0,2.68,3,88.6,64.1
2,std,hatchback,2.68,19,9.0,2823,rwd,front,152,ohcv,...,alfa-romero,NaN,six,two,5000.0,16500.0,3.47,1,94.5,65.5
3,std,sedan,3.19,24,10.0,2337,fwd,front,109,ohc,...,audi,164.0,four,four,5500.0,13950.0,3.40,2,99.8,66.2
4,std,sedan,3.19,18,8.0,2824,4wd,front,136,ohc,...,audi,164.0,five,four,5500.0,17450.0,3.40,2,99.4,66.4
5,std,sedan,3.19,19,8.5,2507,fwd,front,136,ohc,...,audi,NaN,five,two,5500.0,15250.0,3.40,2,99.8,66.3
6,std,sedan,3.19,19,8.5,2844,fwd,front,136,ohc,...,audi,158.0,five,four,5500.0,17710.0,3.40,1,105.8,71.4
7,std,wagon,3.19,19,8.5,2954,fwd,front,136,ohc,...,audi,NaN,five,four,5500.0,18920.0,3.40,1,105.8,71.4
8,turbo,sedan,3.13,17,8.3,3086,fwd,front,131,ohc,...,audi,158.0,five,four,5500.0,23875.0,3.40,1,105.8,71.4
9,turbo,hatchback,3.13,16,7.0,3053,4wd,front,131,ohc,...,audi,NaN,five,two,5500.0,NaN,3.40,0,99.5,67.9

In [2]:
scb = pd.read_excel("../Data/scb_befolkning_1960_2022.xlsx", skiprows=3)
scb.head(3).transpose()

                                0          1          2
Unnamed: 0  Folkmängd 31 december        Män    Kvinnor
2022                     10521556    5298324    5223232
2021                     10452326    5260707    5191619
2020                     10379295    5222847    5156448
2019                     10327589    5195814    5131775
2018                     10230185    5142438    5087747
2017                     10120242    5082662    5037580
2016                      9995153    5013347    4981806
2015                      9851017    4930966    4920051
2014                      9747355    4872240    4875115
2013                      9644864    4814357    4830507
2012                      9555893    4765905    4789988
2011                      9482855    4726834    4756021
2010                      9415570    4690244    4725326
2009                    9340682.0  4649014.0  4691668.0
2008                    9256347.0  4603710.0  4652637.0
2007                    9182927.0  4563921.0  4619006.0
2006                    9113257.0  4523523.0  4589734.0
2005                    9047752.0  4486550.0  4561202.0
2004                    9011392.0  4466311.0  4545081.0
2003                    8975670.0  4446656.0  4529014.0
2002                    8940788.0  4427107.0  4513681.0
2001                    8909128.0  4408445.0  4500683.0
2000                    8882792.0  4392753.0  4490039.0
1999                    8861426.0  4380118.0  4481308.0
1998                    8854322.0  4375619.0  4478703.0
1997                    8847625.0  4371913.0  4475712.0
1996                    8844499.0  4369717.0  4474782.0
1995                    8837496.0  4366071.0  4471425.0
1994                    8816381.0  4356254.0  4460127.0
1993                    8745109.0  4320954.0  4424155.0
1992                    8692013.0  4294585.0  4397428.0
1991                    8644119.0  4270623.0  4373496.0
1990                    8590630.0  4244017.0  4346613.0
1989                    8527036.0  4212080.0  4314956.0
1988                    8458888.0  4175880.0  4283008.0
1987                    8414083.0  4152583.0  4261500.0
1986                    8381515.0  4137513.0  4244002.0
1985                    8358139.0  4127110.0  4231029.0
1984                    8342621.0  4120549.0  4222072.0
1983                    8330573.0  4116137.0  4214436.0
1982                    8327484.0  4117357.0  4210127.0
1981                    8323033.0  4118622.0  4204411.0
1980                    8317937.0  4119822.0  4198115.0
1975                    8208442.0  4081263.0  4127179.0
1970                    8081229.0  4035911.0  4045318.0
1960                    7497967.0  3740119.0  3757848.0

In [49]:
autos.head(10)
autos.tail()
autos.sample(5) # picks 5 random rows
autos

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,fuel-system,fuel-type,height,highway-mpg,horsepower,length,make,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
0,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,mpfi,gas,48.8,27,111.0,168.8,alfa-romero,NaN,four,two,5000.0,13495.0,2.68,3,88.6,64.1
1,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,mpfi,gas,48.8,27,111.0,168.8,alfa-romero,NaN,four,two,5000.0,16500.0,2.68,3,88.6,64.1
2,std,hatchback,2.68,19,9.0,2823,rwd,front,152,ohcv,mpfi,gas,52.4,26,154.0,171.2,alfa-romero,NaN,six,two,5000.0,16500.0,3.47,1,94.5,65.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,std,sedan,3.58,18,8.8,3012,rwd,front,173,ohcv,mpfi,gas,55.5,23,134.0,188.8,volvo,95.0,six,four,5500.0,21485.0,2.87,-1,109.1,68.9
203,turbo,sedan,3.01,26,23.0,3217,rwd,front,145,ohc,idi,diesel,55.5,27,106.0,188.8,volvo,95.0,six,four,4800.0,22470.0,3.40,-1,109.1,68.9
204,turbo,sedan,3.78,19,9.5,3062,rwd,front,141,ohc,mpfi,gas,55.5,25,114.0,188.8,volvo,95.0,four,four,5400.0,22625.0,3.15,-1,109.1,68.9

In [48]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 6)

In [52]:
rows, cols = autos.shape
print(f"Dataframe 'autos' has {rows} rows and {cols} columns.")

Dataframe 'autos' has 205 rows and 26 columns.

In [53]:
len(autos)

205

In [54]:
len(autos.columns)

26

In [55]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   aspiration         205 non-null    object
 1   body-style         205 non-null    object
 2   bore               201 non-null    float64
 3   city-mpg           205 non-null    int64
 4   compression-ratio  205 non-null    float64
 5   curb-weight        205 non-null    int64
 6   drive-wheels       205 non-null    object
 7   engine-location    205 non-null    object
 8   engine-size        205 non-null    int64
 9   engine-type        205 non-null    object
 10  fuel-system        205 non-null    object
 11  fuel-type          205 non-null    object
 12  height             205 non-null    float64
 13  highway-mpg        205 non-null    int64
 14  horsepower         203 non-null    float64
 15  length             205 non-null    float64
 16  make               205 non-null    object
 17  normalized-losses  164 non-null    float64
 18  num-of-cylinders   205 non-null    object
 19  num-of-doors       203 non-null    object
 20  peak-rpm           203 non-null    float64
 21  price              201 non-null    float64
 22  stroke             201 non-null    float64
 23  symboling          205 non-null    int64
 24  wheel-base         205 non-null    float64
 25  width              205 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.8+ KB

### Convert to common formats

In [57]:
# copy dataframe to clipboard (then use Ctrl+V)
autos.to_clipboard()

In [65]:
autos.to_csv("../Data/autos.csv", index=None)
csv_str = autos.to_csv()
print(csv_str[:1000])

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,fuel-system,fuel-type,height,highway-mpg,horsepower,length,make,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
0,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,mpfi,gas,48.8,27,111.0,168.8,alfa-romero,,four,two,5000.0,13495.0,2.68,3,88.6,64.1
1,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,mpfi,gas,48.8,27,111.0,168.8,alfa-romero,,four,two,5000.0,16500.0,2.68,3,88.6,64.1
2,std,hatchback,2.68,19,9.0,2823,rwd,front,152,ohcv,mpfi,gas,52.4,26,154.0,171.2,alfa-romero,,six,two,5000.0,16500.0,3.47,1,94.5,65.5
3,std,sedan,3.19,24,10.0,2337,fwd,front,109,ohc,mpfi,gas,54.3,30,102.0,176.6,audi,164.0,four,four,5500.0,13950.0,3.4,2,99.8,66.2
4,std,sedan,3.19,18,8.0,2824,4wd,front,136,ohc,mpfi,gas,54.3,22,115.0,176.6,audi,164.0,five,four,5500.0,17450.0,3.4,2,99.4,66.4
5,std,sedan,3.19,19,8.5,2507,fwd,front,136,ohc,m

In [73]:
autos.to_json("../Data/new_autos.json", orient="records")
json_str = autos.to_json(indent=4, orient="records")
print(json_str[:200])

[
    {
        "aspiration":"std",
        "body-style":"convertible",
        "bore":3.47,
        "city-mpg":21,
        "compression-ratio":9.0,
        "curb-weight":2548,
        "drive-wheels":

In [80]:
autos_dict = autos.to_dict(orient="records")
autos_dict[0]

{'aspiration': 'std',
 'body-style': 'convertible',
 'bore': 3.47,
 'city-mpg': 21,
 'compression-ratio': 9.0,
 'curb-weight': 2548,
 'drive-wheels': 'rwd',
 'engine-location': 'front',
 'engine-size': 130,
 'engine-type': 'dohc',
 'fuel-system': 'mpfi',
 'fuel-type': 'gas',
 'height': 48.8,
 'highway-mpg': 27,
 'horsepower': 111.0,
 'length': 168.8,
 'make': 'alfa-romero',
 'normalized-losses': nan,
 'num-of-cylinders': 'four',
 'num-of-doors': 'two',
 'peak-rpm': 5000.0,
 'price': 13495.0,
 'stroke': 2.68,
 'symboling': 3,
 'wheel-base': 88.6,
 'width': 64.1}