## Loc, iloc and []
Pandas supports three types of multi-axis indexing for object selection.
- **loc** is a method for label based indexing.
- **iloc** is a method for integer position based indexing.
- **[*col_name*]** returns the columns as a pandas `Series` object.


**Beware:** When slicing, the upper bound is *included* for loc, while *excluded* for iloc.

In [4]:
import pandas as pd

In [16]:


columns_values = [f"Column{i}" for i in range(1,5)]
index_values = [chr(i) for i in range(65, 72)]

df = pd.DataFrame([[f"{ind}{col}" for col in range(1, 5)] for ind in index_values],
                  index=index_values, columns=columns_values)

print([[f"{ind}{col}" for col in range(1, 5)] for ind in index_values])

df

[['A1', 'A2', 'A3', 'A4'], ['B1', 'B2', 'B3', 'B4'], ['C1', 'C2', 'C3', 'C4'], ['D1', 'D2', 'D3', 'D4'], ['E1', 'E2', 'E3', 'E4'], ['F1', 'F2', 'F3', 'F4'], ['G1', 'G2', 'G3', 'G4']]

  Column1 Column2 Column3 Column4
A      A1      A2      A3      A4
B      B1      B2      B3      B4
C      C1      C2      C3      C4
D      D1      D2      D3      D4
E      E1      E2      E3      E4
F      F1      F2      F3      F4
G      G1      G2      G3      G4

In [63]:
# Using no slices returns the value of a single cell
df.iloc[1, 0]

# Using slice on one axis return a pandas Series object
df.iloc[1, :] # full row 1 ("B")
df.iloc[:, 0] # full column 0 ("Column1")
df.iloc[:3, 1] # first 3 cells of columns 1 ("Column2")

# Using slice on both axis returns a pandas DataFrame object
df.iloc[:2, :2] #returns the four cells in the upper left corner
df.iloc[2:6, 1:3] # returns col 2 & 3, and rows C-F
df.iloc[:, :] # returns a copy of dataframe

  Column1 Column2 Column3 Column4
A      A1      A2      A3      A4
B      B1      B2      B3      B4
C      C1      C2      C3      C4
D      D1      D2      D3      D4
E      E1      E2      E3      E4
F      F1      F2      F3      F4
G      G1      G2      G3      G4

In [62]:
# Using no slices returns the value of a single cell
df.loc["B", "Column1"]

# Using slice on one axis return a pandas Series object
df.loc["B"] # full row 1 ("B")
df.loc[:, "Column1"] # full column 0 ("Column1")
df.loc[:"C", "Column2"] # first 3 cells of columns 1 ("Column2")

# Using slice on both axis returns a pandas DataFrame object
df.loc[:"B", :"Column2"] #returns the four cells in the upper left corner
df.loc["C":"F", "Column2":"Column3"] # returns col 2 & 3, and rows C-F
df.loc[:, :] # returns a copy of dataframe

  Column1 Column2 Column3 Column4
A      A1      A2      A3      A4
B      B1      B2      B3      B4
C      C1      C2      C3      C4
D      D1      D2      D3      D4
E      E1      E2      E3      E4
F      F1      F2      F3      F4
G      G1      G2      G3      G4