## Encoding categorical features
Categorical features are non-numeric features with a limited amount of possible options.

Before feeding them into most machine learning algorithms, we must convert them into numerical features using either:
- **Label enconding:** Each unique category is assigned to a numerical value: 0, 1, 2, 3 ...
- **One-hot encoding:** A new binary feature is created for each category.

In [6]:
import pandas as pd
import seaborn as sns

In [7]:
titanic = sns.load_dataset("titanic")
titanic.head(1)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.25,S,Third,man,True,NaN,Southampton,no,False

In [33]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [34]:
cat_columns = [col for col in titanic.columns if titanic[col].dtype in ["object", "category"]]
cat_columns

['sex', 'embarked', 'class', 'who', 'deck', 'embark_town', 'alive']

In [8]:
df_categories = titanic[cat_columns]
df_categories.head(5)

NameError: name 'cat_columns' is not defined

In [36]:
for cat in cat_columns:
    print(f"{cat}: {df_categories[cat].unique()}")

sex: ['male' 'female']
embarked: ['S' 'C' 'Q' nan]
class: ['Third', 'First', 'Second']
Categories (3, object): ['First', 'Second', 'Third']
who: ['man' 'woman' 'child']
deck: [NaN, 'C', 'E', 'G', 'D', 'A', 'B', 'F']
Categories (7, object): ['A', 'B', 'C', 'D', 'E', 'F', 'G']
embark_town: ['Southampton' 'Cherbourg' 'Queenstown' nan]
alive: ['no' 'yes']

### Label encoding
Label encoding maps each category into a numerical value.

Use label encoding if: 
- categories have a natural order
- there are only 2 categories
- using one-hot encoding leads to a large number of features

In [9]:
# Manual mapping
titanic["embarked"] = titanic["embarked"].map({"S": 0, "C": 1, "Q": 2})

##### Auto-mapping using Label Encoder from Scikit-learn'
Use pipenv to install the `scikit-learn` package

In [10]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

titanic["deck"] = le.fit_transform(titanic["deck"])

titanic["deck"]

0      7
1      2
2      7
3      2
4      7
      ..
886    7
887    1
888    7
889    2
890    7
Name: deck, Length: 891, dtype: int32

### One-hot encoding
In one-hot encoding, a new binary feature is created for each category, and the value of that feature is set to 1 if the observation belongs to that category, and 0 otherwise.

Use one-hot encoding if:
- categories have no natural order
- number of categories are small (but not 2)

In [5]:
titanic.head()
titanic.to_json("../Data/titanic_encoded.json", orient="records")

In [46]:
titanic = pd.get_dummies(data=titanic, columns=["who"])

titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    float64
 8   class        891 non-null    category
 9   adult_male   891 non-null    bool
 10  deck         891 non-null    int64
 11  embark_town  889 non-null    object
 12  alive        891 non-null    object
 13  alone        891 non-null    bool
 14  who_child    891 non-null    bool
 15  who_man      891 non-null    bool
 16  who_woman    891 non-null    bool
dtypes: bool(5), category(1), float64(3), int64(5), object(3)
memory usage: 82.0+ KB

#### Auto-map remaining non-numerical features

In [50]:
cat_columns = [col for col in titanic.columns if titanic[col].dtype in ["category", "object", "bool"]]

for column in cat_columns:
    titanic[column] = le.fit_transform(titanic[column])