## Exercises: Modify the dataset

In [168]:
import pandas as pd
employees = pd.read_json("../Data/employees.json")

**Current state of the "employees" dataset**

Rerun the code block below after each modification you do, to see its current state.

In [184]:
employees

,Name,Email,Job title,Salary,Department
0,John Doe,john.doe@mockcompany.com,Sales Director,132000.0,Sales
1,Jane Smith,jane.smith@mockcompany.com,HR Coordinator,60000.0,Human Resources
2,Michael Johnson,michael.johnson@mockcompany.com,Software Engineer,110000.0,IT
3,Sarah Williams,sarah.williams@mockcompany.com,Marketing Specialist,82500.0,Sales
4,David Brown,david.brown@mockcompany.com,HR Manager,90000.0,Human Resources
5,Emily Davis,emily.davis@mockcompany.com,IT Support Specialist,55000.0,IT
6,Jacob Wilson,jacob.wilson@mockcompany.com,Sales Representative,88000.0,Sales
8,Ethan Lee,ethan.lee@mockcompany.com,Financial Analyst,93500.0,Sales
9,Sophia Taylor,sophia.taylor@mockcompany.com,HR Assistant,50000.0,Human Resources
10,Jennifer Lee,jennifer.lee@mockcompany.com,Software Engineer,100000.0,IT
11,Daniel Brown,daniel.brown@mockcompany.com,Software Engineer,95000.0,IT
12,John Doe,john.doe@mockcompany.com,Software Engineer,105000.0,IT

**Do the following operations on the "employees" dataset:**

**OP1:** Create a new column "name" which contains the full name (eg. "John Doe") for each employee.

<details>
<summary>Result</summary>
<br>
&nbsp;&nbsp;&nbsp;<b>name</b><br>
&nbsp;&nbsp;&nbsp;John Doe<br>
&nbsp;&nbsp;&nbsp;Jane Smith<br>
&nbsp;&nbsp;&nbsp;Michael Johnson<br>
&nbsp;&nbsp;&nbsp;...<br>
</details>

In [171]:
employees["name"] = employees["first_name"] + " " + employees["last_name"]

<div style="display: inline">
<b>OP2:</b> Create a new column "email" with the following format: firstname.lastname@mockcompany.com
</div><br>

*Note: email addresses should be all lower case.*

<details>
<summary>Result</summary>
<br>
&nbsp;&nbsp;&nbsp;<b>email</b><br>
&nbsp;&nbsp;&nbsp;john.doe@mockcompany.com<br>
&nbsp;&nbsp;&nbsp;jane.smith@mockcompany.com<br>
&nbsp;&nbsp;&nbsp;michael.johnson@mockcompany.com<br>
&nbsp;&nbsp;&nbsp;...<br>
</details>

In [172]:
employees["email"] = (employees["first_name"].apply(str.lower) + 
                      "." + 
                      employees["last_name"].apply(str.lower) +
                      "@mockcompany.com")

**OP3:** Remove the columns "first_name" and "last_name", and put the columns "name" and "email" first.
<details>
<summary>Result</summary>
<br>
&nbsp;&nbsp;&nbsp;<b>name&nbsp;&nbsp;&nbsp;email&nbsp;&nbsp;&nbsp;job_title&nbsp;&nbsp;&nbsp;salary&nbsp;&nbsp;&nbsp;department</b>
</details>

In [173]:
# employees.drop(columns=["first_name", "last_name"], inplace=True)
employees = employees[["name", "email", "job_title", "salary", "department"]]

**OP4:** Update column titles to make the first letter in each title upper case. Also replace the underscore character in "job_title" with a space.
<details>
<summary>Result</summary>
<br>
&nbsp;&nbsp;&nbsp;<b>Name&nbsp;&nbsp;&nbsp;Email&nbsp;&nbsp;&nbsp;Job title&nbsp;&nbsp;&nbsp;Salary&nbsp;&nbsp;&nbsp;Department</b>
</details>

In [174]:
old_columns = list(employees.columns)
new_columns = dict()
for old_column in old_columns:
    new_columns[old_column] = old_column.capitalize().replace("_", " ")

employees = employees.rename(columns=new_columns)

**OP5:** Change the data type of column "Salary" to float64.
<details>
<summary>Result</summary>
<br>
&nbsp;&nbsp;&nbsp;Salary: int64 => float64
</details>

In [175]:
employees = employees.astype({"Salary": "float64"})
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        10 non-null     object
 1   Email       10 non-null     object
 2   Job title   10 non-null     object
 3   Salary      10 non-null     float64
 4   Department  10 non-null     object
dtypes: float64(1), object(4)
memory usage: 532.0+ bytes

**OP6:** The company decided to give everyone in sales a 10% salary increase. Update the dataset accordingly.

<details>
<summary>Result</summary>
<br>
&nbsp;&nbsp;&nbsp;John Doe&nbsp;&nbsp;&nbsp;132000.0<br>
&nbsp;&nbsp;&nbsp;Jane Smith&nbsp;&nbsp;&nbsp;60000.0<br>
&nbsp;&nbsp;&nbsp;Michael Johnson&nbsp;&nbsp;&nbsp;110000.0	<br>
&nbsp;&nbsp;&nbsp;Sarah Williams&nbsp;&nbsp;&nbsp;82500.0<br>
&nbsp;&nbsp;&nbsp;...<br>
</details>

In [176]:
sales_staff = employees[employees["Department"] == "Sales"]
employees.loc[sales_staff.index, "Salary"] *= 1.1

**OP7:** The company hired a new software engineer. Add a new row with appropriate values to the dataset.
<details>
<summary>Result</summary>
<br>
<b>Example:</b><br>
&nbsp;&nbsp;&nbsp;<b>Name:</b> Jennifer Lee<br>
&nbsp;&nbsp;&nbsp;<b>Email:</b> jennifer.lee@mockcompany.com<br>
&nbsp;&nbsp;&nbsp;<b>Job title:</b> Software Engineer<br>
&nbsp;&nbsp;&nbsp;<b>Salary:</b> 100.000<br>
&nbsp;&nbsp;&nbsp;<b>Department:</b> IT<br>
</details>

In [177]:
employees.columns

Index(['Name', 'Email', 'Job title', 'Salary', 'Department'], dtype='object')

In [178]:
new_employee = {
    "Name": "Jennifer Lee",
    "Email": "jennifer.lee@mockcompany.com",
    "Job title": "Software Engineer",
    "Salary": 100_000.0,
    "Department": "IT"
}

employees.loc[len(employees)] = new_employee

**OP8:** The company decided to hire a lot of new software engineers.

Create python code that asks the user to input the name and salary of the new software engineer, and then automatically adds the new employee to the dataset. Also, ensure that each employee get a unique index in the dataset.

<details>
<summary>Result</summary>
<br>
<b>Example:</b><br>
&nbsp;&nbsp;&nbsp;Input name of new software engineer: Daniel Brown<br>
&nbsp;&nbsp;&nbsp;Input the salary for Daniel Brown: 95.000<br>
<br>
&nbsp;&nbsp;&nbsp;<b>Name:</b> Daniel Brown<br>
&nbsp;&nbsp;&nbsp;<b>Email:</b> daniel.brown@mockcompany.com<br>
&nbsp;&nbsp;&nbsp;<b>Job title:</b> Software Engineer<br>
&nbsp;&nbsp;&nbsp;<b>Salary:</b> 95.000<br>
&nbsp;&nbsp;&nbsp;<b>Department:</b> IT<br>
</details>

In [183]:
import re

while True:
    name = input("Input name of new software engineer: ")
    name = name.strip().title()
    if not name:
        print("Invalid input. Try again.")
    else:
        break

name = re.sub(r"\s+", " ", name)
email = name.lower().replace(" ", ".") + "@mockcompany.com"

while True:
    try:
        salary = float(input(f"Input the salary for {name}: "))
        break
    except:
        print("Invalid input. Try again.")

new_engineer= {
    "Name": name,
    "Email": email,
    "Job title": "Software Engineer",
    "Salary": salary,
    "Department": "IT"
}

# employees.loc[len(employees)] = new_engineer
next_index = max(employees.index) + 1
employees.loc[next_index] = new_engineer

**OP9:** Olivia Moore quits her job. Remove her data from the dataset.

In [180]:
olivia = employees.query("Name == 'Olivia Moore'")

employees.drop(index = olivia.index, inplace=True)

**OP10**: Make sure that the python script in *OP8* still gives a unique index to each new employee, even after removing rows.

In [181]:
# next_index = max(employees.index) + 1
# employees.loc[next_index] = new_engineer

### Final note:
Just to be clear, a real company would most likely store their employee data in a database, and loading them into a pandas dataframe to do these kind of operations wouldn't make much sense. The above examples are purely for learning the different operations of pandas.